/* ===========================
	Modal
==============================*/

.merryll-modal {
	// .cookie-modal {
		bottom: 0;
		position: fixed;
		right: 0;
		// z-index: 99991;
		z-index: -1;
		transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
		opacity: 0;
	// }
}

.merryll-modal-active {
	.merryll-modal {
		// .cookie-modal {
			opacity: 1;
		// }
	}
}
