/* ===========================
	Layout: Footer
==============================*/

.merryll-modal {
	.cookie-modal {
		.cm-footer-buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			box-shadow: 0 -6px 10px $public_modal_bg_color;
			padding-top: 10px;

			@include media-only(mobile) {
				flex-wrap: nowrap;
				position: relative;
				margin-left: -15px;
				margin-right: -15px;
			}

			.cm-btn {
				&:nth-child(1) {
					order: 2;
				}
				&:nth-child(2) {
					order: 1;
				}
				&:nth-child(3) {
					order: 3;
				}
			}
		}
	}
}

.cm-powered-by {
	display: none;
}
