/* ===========================
	Layout - Dashboard
==============================*/

#merryll-dashboard {
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;

	.license-form {
		background: #fff;
		padding: 30px;
		margin-top: 30px;
		border: 1px solid #c3c4c7;
		box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
	}
}
