//-------------------- Common Variables --------------------//
$text_color: #333;
$color_white: #fff;
$color_offset: #f1f1f1;

//-------------------- Admin Variables --------------------//
$admin_color: var(--merryll-admin-color);
$admin_hover_color: var(--merryll-admin-hover-color);
$admin_offset_color: var(--merryll-admin-offset-color);

//-------------------- Frontend Variables --------------------//
$merryll-xlg-screen: 1200px !default;
$merryll-lg-screen: 1025px !default;
$merryll-md-screen: 992px !default;
$merryll-sm-screen: 768px !default;
$merryll-vsm-screen: 576px !default;

// $merryll-breakpoints: (
//     "wide":    					$merryll-lg-screen,
//     "notebook":    				$merryll-md-screen,
//     "tablet":    				$merryll-sm-screen,
//     "small-mobile": 			$merryll-vsm-screen,
// );
