%transition {
	transition: all 0.3s;
}

%d-flex {
	display: flex;
}

%flex-wrap {
	flex-wrap: wrap;
}

%justify-content-center {
	justify-content: center;
}

%align-items-center {
	align-items: center;
}

%pos-r {
	position: relative;
}

%pos-a {
	position: absolute;
}
