/* ===========================
	Notice
==============================*/

.merryll-notice {
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
	margin: 5px 0 15px;
	padding: 1px 12px;

	&.success {
		border-left-color: #00a32a;
	}

	&.warning {
		border-left-color: #dba617;
	}

	img {
		width: 16px;
	}
}
