/* ===========================
	License Form
==============================*/

#merryll-dashboard {
	.license-form {
		.cf-field__label {
			span {
				display: block;
				font-weight: 400;
				margin-top: 10px;
				font-style: italic;
				max-width: 70%;
				font-size: 13px;
				color: #666;
				line-height: 1.4;
			}
		}
	}
}
