/* ===========================
	HTML Field
==============================*/

.post-type-merryll_cookies {
	.cf-html__content {
		padding: 10px;
		background: $admin_offset_color;
		border: 1px solid #ddd;
		font-size: 14px;
	}
}
