/* ===========================
	Dashboard Banner
==============================*/

#merryll-dashboard {
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;

	.header-banner {
		@extend %d-flex;
		padding: 50px;
		justify-content: space-between;
		background-color: $admin_color;
		background-image: url(../images/banner-bg.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;

		h1 {
			color: $color_white;
			font-size: 35px;
			padding: 0;
		}

		img {
			max-width: 200px;
		}
	}
}
