/* ===========================
	Field Label
==============================*/

.post-type-merryll_cookies {
	.cf-container {
		.cf-field__label {
			text-align: center;
			padding-bottom: 12px;
			font-size: 18px;
			margin-top: 12px;
			margin-bottom: 12px;
			display: block;
		}
	}
}
